In [3]:
%%init_spark

# Prepare test data

In [40]:
val df = Seq(
    (2017, 1, 10),
    (2017, 1, 5),
    (2017, 2, 20),
    (2018, 1, 5),
    (2018, 1, 5)).toDF("year","month","num")
df.show()

val df1 = Seq(("k1", 100), ("k2", 105), ("k3", 110)).toDF("key1","value1")
val df2 = Seq(("k1", 50), ("k2", 200), ("k4", 300)).toDF("key1","value1")

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    1| 10|
|2017|    1|  5|
|2017|    2| 20|
|2018|    1|  5|
|2018|    1|  5|
+----+-----+---+

df: org.apache.spark.sql.DataFrame = [year: int, month: int ... 1 more field]
df1: org.apache.spark.sql.DataFrame = [key1: string, value1: int]
df2: org.apache.spark.sql.DataFrame = [key1: string, value1: int]

# Select

In [45]:
df.select("year", "month").show()
df.select($"year", $"month").show()
df.select(col("year"), col("month")).show()
df.select(df.col("year"), df.col("month")).show()

+----+-----+
|year|month|
+----+-----+
|2017|    1|
|2017|    1|
|2017|    2|
|2018|    1|
|2018|    1|
+----+-----+

+----+-----+
|year|month|
+----+-----+
|2017|    1|
|2017|    1|
|2017|    2|
|2018|    1|
|2018|    1|
+----+-----+

+----+-----+
|year|month|
+----+-----+
|2017|    1|
|2017|    1|
|2017|    2|
|2018|    1|
|2018|    1|
+----+-----+

+----+-----+
|year|month|
+----+-----+
|2017|    1|
|2017|    1|
|2017|    2|
|2018|    1|
|2018|    1|
+----+-----+

In [49]:
df.select(upper($"year"), lower($"month")).show()

df.selectExpr("upper(year)","month as newcol").show()

+-----------+------------+
|upper(year)|lower(month)|
+-----------+------------+
|       2017|           1|
|       2017|           1|
|       2017|           2|
|       2018|           1|
|       2018|           1|
+-----------+------------+

+---------------------------+------+
|upper(CAST(year AS STRING))|newcol|
+---------------------------+------+
|                       2017|     1|
|                       2017|     1|
|                       2017|     2|
|                       2018|     1|
|                       2018|     1|
+---------------------------+------+

# WithColumn & Drop

In [55]:
df.withColumn("day", lit(1)).show()
df.withColumn("num2", $"num" *2).show()
df.withColumn("num3", expr("num *3")).show()

df.drop("num").show()

+----+-----+---+---+
|year|month|num|day|
+----+-----+---+---+
|2017|    1| 10|  1|
|2017|    1|  5|  1|
|2017|    2| 20|  1|
|2018|    1|  5|  1|
|2018|    1|  5|  1|
+----+-----+---+---+

+----+-----+---+----+
|year|month|num|num2|
+----+-----+---+----+
|2017|    1| 10|  20|
|2017|    1|  5|  10|
|2017|    2| 20|  40|
|2018|    1|  5|  10|
|2018|    1|  5|  10|
+----+-----+---+----+

+----+-----+---+----+
|year|month|num|num3|
+----+-----+---+----+
|2017|    1| 10|  30|
|2017|    1|  5|  15|
|2017|    2| 20|  60|
|2018|    1|  5|  15|
|2018|    1|  5|  15|
+----+-----+---+----+

+----+-----+
|year|month|
+----+-----+
|2017|    1|
|2017|    1|
|2017|    2|
|2018|    1|
|2018|    1|
+----+-----+

# Where && Filter

===是在Column类中定义的函数，对应的不等于是=!=。
$"列名"这个是语法糖，返回Column对象

In [34]:
df.filter($"num">10).show()

df.filter($"num"===10).show()

df.filter("num=10").show()

df.filter($"month" > $"num" -10).show()

df.filter($"month" > col("num") -10).show()

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    2| 20|
+----+-----+---+

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    1| 10|
+----+-----+---+

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    1| 10|
+----+-----+---+

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    1| 10|
|2017|    1|  5|
|2018|    1|  5|
|2018|    1|  5|
+----+-----+---+

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    1| 10|
|2017|    1|  5|
|2018|    1|  5|
|2018|    1|  5|
+----+-----+---+

In [33]:
df.where($"num">10).show()

df.where($"num"===10).show()

df.where("num=10").show()

df.where($"month" > $"num" -10).show()

df.where($"month" > col("num") -10).show()

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    2| 20|
+----+-----+---+

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    1| 10|
+----+-----+---+

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    1| 10|
+----+-----+---+

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    1| 10|
|2017|    1|  5|
|2018|    1|  5|
|2018|    1|  5|
+----+-----+---+

+----+-----+---+
|year|month|num|
+----+-----+---+
|2017|    1| 10|
|2017|    1|  5|
|2018|    1|  5|
|2018|    1|  5|
+----+-----+---+

# Aggregate Function

In [15]:
df.groupBy("year","month").count.withColumnRenamed("count", "cnt").show()

+----+-----+---+
|year|month|cnt|
+----+-----+---+
|2018|    1|  2|
|2017|    2|  1|
|2017|    1|  2|
+----+-----+---+

In [14]:
df.select("year","month").distinct.sort($"year".desc, $"month".desc).show()

+----+-----+
|year|month|
+----+-----+
|2018|    1|
|2017|    2|
|2017|    1|
+----+-----+

In [23]:
// 默认的名字后续操作真的不太好看，还是通过as重新命名比较好
df.groupBy("year").agg(count("month").as("month_num"), sum("num")).sort($"sum(num)".desc).show()

df.groupBy("year").agg("month" -> "count", "num" -> "sum").sort($"sum(num)".desc).show()

+----+---------+--------+
|year|month_num|sum(num)|
+----+---------+--------+
|2017|        3|      35|
|2018|        2|      10|
+----+---------+--------+

+----+------------+--------+
|year|count(month)|sum(num)|
+----+------------+--------+
|2017|           3|      35|
|2018|           2|      10|
+----+------------+--------+

# Join

In [65]:
df1.join(df2, Seq("key1")).show()

df1.join(df2, df1.col("key1") === df2.col("key1")).show()

df1.join(df2, df1.col("key1") === df2.col("key1") && df1.col("value1") > df2.col("value1")).show()

df1.join(df2, df1.col("key1") === df2.col("key1"), "outer").show()

df1.join(df2, df1.col("key1") === df2.col("key1"), "left_outer").show()

df1.join(df2, df1.col("key1") === df2.col("key1"), "semi").show()

df1.crossJoin(df2).show()

+----+------+------+
|key1|value1|value1|
+----+------+------+
|  k1|   100|    50|
|  k2|   105|   200|
+----+------+------+

+----+------+----+------+
|key1|value1|key1|value1|
+----+------+----+------+
|  k1|   100|  k1|    50|
|  k2|   105|  k2|   200|
+----+------+----+------+

+----+------+----+------+
|key1|value1|key1|value1|
+----+------+----+------+
|  k1|   100|  k1|    50|
+----+------+----+------+

+----+------+----+------+
|key1|value1|key1|value1|
+----+------+----+------+
|  k2|   105|  k2|   200|
|null|  null|  k4|   300|
|  k1|   100|  k1|    50|
|  k3|   110|null|  null|
+----+------+----+------+

+----+------+----+------+
|key1|value1|key1|value1|
+----+------+----+------+
|  k1|   100|  k1|    50|
|  k2|   105|  k2|   200|
|  k3|   110|null|  null|
+----+------+----+------+

+----+------+
|key1|value1|
+----+------+
|  k1|   100|
|  k2|   105|
+----+------+

+----+------+----+------+
|key1|value1|key1|value1|
+----+------+----+------+
|  k1|   100|  k1|    50|
|  k1|   100|  k2|   200|
|  k1|   100|  k4|   300|
|  k2|   105|  k1|    50|
|  k2|   105|  k2|   200|
|  k2|   105|  k4|   300|
|  k3|   110|  k1|    50|
|  k3|   110|  k2|   200|
|  k3|   110|  k4|   300|
+----+------+----+------+